/* My Styles */
    .hide{
    display: none;
    }
    #one .slider .slide .text {
    position: absolute;
    top: 10px;
    left: 10px;
    }
    .contrast{
        border-color: white !important;
		color: #ffffff !important;
			background-color: rgba(0, 0, 0, 0.4);
    }

    .contrast:hover{
        border-color: white !important;
		color: #ffffff !important;
            background-color: rgba(0, 0, 0, 0.7);
            }

	#one .slide1 {
	background-image: url("../images/index-slide1.jpg");
	}
	#one .slide2 {
	background-image: url("../images/index-slide2.jpg");
	}
	#one .slide3 {
	background-image: url("../images/index-slide3.jpg");
	}
	#banner {
		background-image: url("../theme/images/overlay.png"), url("../images/Banner-books.jpg");
	}

		#banner .button {
			border-color: white !important;
			color: #ffffff !important;
				background-color: rgba(0, 0, 0, 0.3);
		}

			#banner .button:hover {
				background-color: rgba(0, 0, 0, 0.6);
			}
			#banner .shadow {
				color: #ffffff !important;
				text-shadow: 1px 1px #000000;
				background-color: rgba(0, 0, 0, 0.3);
			}



  @keyframes tickerv {
    0% {margin-top: 0;}
    100% {margin-top: -1600px;}
  }
  .tickerv-wrap {
    box-sizing: content-box;
    overflow: hidden;
    padding: 10px;
    height: 300px;
  }

  .tickerv-space {
    height: 310px;
  }

  .credits {
    padding:0;
    margin:0;
    list-style-type: none;
    animation-name: tickerv;
    animation-duration:25s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1, 1, 1, 1);
  }
  .credits:hover {
    animation-play-state: paused;
  }
